<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/react/cjs/react.development.js"></script>
    <script src="~/react/umd/react.development.js"></script>
    <script src="~/react-bootstrap/react-bootstrap.js"></script>
</head>
<body>
    <nav class="navbar">
        <a asp-controller="Account" asp-action="Index">Home</a>
        <a asp-controller="Account" asp-action="Edit">Create</a>

    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
