<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/react/cjs/react.development.js"></script>
    <script src="~/react/umd/react.development.js"></script>
    <script src="~/react-bootstrap/react-bootstrap.js"></script>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-brand navbar-brand:hover">
                <a asp-controller="Account" asp-action="Index">Home</a>
                <a asp-controller="Account" asp-action="Edit">Create</a>
            </nav>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
