@model AccountModel
@{
}

<div class="form">
    <form asp-controller="Account" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">User Name</label>
            <input asp-for="UserName" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Email</label>
            <input asp-for="Email" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Password</label>
            <input asp-for="Password" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">First Name</label>
            <input asp-for="FirstName" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Last Name</label>
            <input asp-for="LastName" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Age</label>
            <input asp-for="Age" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Gender</label>
            <input asp-for="Gender" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Married Status</label>
            <input asp-for="MarriedStatus" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Street Address</label>
            <input asp-for="StreetAddress" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Apt/Suite</label>
            <input asp-for="AptSuite" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">City</label>
            <input asp-for="City" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">State</label>
            <input asp-for="State" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Zip Code</label>
            <input asp-for="ZipCode" />
        </div>
        <div class="form" style="padding: 5px;">
            <label style="padding:5px;">Phone Number</label>
            <input asp-for="Phone" />
        </div>


        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>



</div>
