@model AccountModel
@{
    ViewData["Title"] = "New User Form";
}


    <form asp-controller="Account" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="form-row">
            <label style="padding:5px;">User Name</label>
            <input asp-for="UserName" />
        </div>
        <div>
            <label style="padding:5px;">Email</label>
            <input asp-for="Email" />
        </div>
        <div>
        <label style="padding:5px;">Password</label>
        <input asp-for="Password" />
        </div>
        <div>
            <label style="padding:5px;">First Name</label>
            <input asp-for="FirstName" />
        </div>
        <div>
            <label style="padding:5px;">Last Name</label>
            <input asp-for="LastName" />
        </div>
        <div>
            <label style="padding:5px;">Age</label>
            <input asp-for="Age" />
        </div>
        <div>
            <label style="padding:5px;">Gender</label>
            <input asp-for="Gender" />
        </div>
        <div>
            <label style="padding:5px;">Married Status</label>
            <input asp-for="MarriedStatus" />
        </div>
        <div>
            <label style="padding:5px;">Street Address</label>
            <input asp-for="StreetAddress" />
        </div>
        <div>
            <label style="padding:5px;">Apt/Suite</label>
            <input asp-for="AptSuite" />
        </div>
        <div>
            <label style="padding:5px;">City</label>
            <input asp-for="City" />
        </div>
        <div>
            <label style="padding:5px;">State</label>
            <input asp-for="State" />
        </div>
        <div>
            <label style="padding:5px;">Zip Code</label>
            <input asp-for="ZipCode" />
        </div>
        <div>
            <label style="padding:5px;">Phone Number</label>
            <input asp-for="Phone" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div> 
            </form>

